{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-content">
			{% block extra_content_before %}{% endblock %}

			{% if flexible_content is empty %}
				{% if post.pre_title is not empty %}
					<h2 class="pretitle">{{post.pre_title}}</h2>
				{% endif %}
				<h1>{{post.post_title}}</h1>
			{% endif %}
			
			{% if flexible_content is not empty %}
				{% for block in flexible_content %}
					{% include('blocks/' ~ block.acf_fc_layout ~ '.twig') with {fields: block} %}
				{% endfor %}
			{% else %}
				{{post.content}}
			{% endif %}

			{% if team is not empty %}
				{% include('blocks/team.twig') with {fields: team} %}
			{% endif %}

			{% block extra_content_after %}{% endblock %}
		</section>
	</article>
{% endblock %}