<header class="header hspace" data-controller="menu" data-menu-open-value="false">
    {% block header %}
        <div class="wrapper">            
            {% if is_front_page %}
                <h1 class="header-logo" role="banner" title="{{site.name}}">
            {% else %}
                <a href="{{site.url}}" title="{{site.name}}" rel="home" class="header-logo">
            {% endif %}

                {{ svg('logo') }}

            {% if is_front_page %}
                </h1>
            {% else %}
                </a>
            {% endif %}

            <button class='mainNav-toggle' data-action="click->menu#toggle">
				{{ svg('menu') }}
			</button>

            <nav class="mainNav" role="navigation" data-action="click->menu#blur">
                {% include "partial/menu.twig" with {'items': menu.get_items} %}
                <button class='mainNav-close' data-action="click->menu#close">
                    {{ svg('close') }}
                    Fermer
                </button>
            </nav>
        </div>
    {% endblock %}
</header>